@import "general";


#top{
  padding-top: 150px;
  padding-bottom:113px;

  .t-inner{

    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
    box-sizing: border-box;

    @include smallTab{
      display: flex;
      justify-content: center;
      align-items: center;

    }

    // background: url("../image/楕円形\ 1.png");
    // background-repeat: no-repeat;
  
  
      h2{
        font-size: 32px;
        padding-bottom: 45px;

        
      }
      p{
        font-size:16px;
        padding-bottom:45px;
      }
      
      .top-btn{
        text-align: center;
        display: inline-block;

        a{
          display: block;
          border-radius:7px;
          padding:8px 36px;
          font-size: 14px;
          color:white;
          background: transparent linear-gradient(90deg, #FA41CC 0%, #6020B0 100%) 0% 0% no-repeat padding-box;
          text-decoration: none;
        }
      }

      .top-image{

        margin-top: 50px;
        
        @include smallTab{
          margin-top: 0px;
        }

        img{
          width: 100%;
        }



      }

      .bgc-img{
        position: absolute;
        top:-50px;
        right:0px;
        z-index: -100;

      }
  
    }
}

  
