body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #333333;
}

.title > p {
  color: #3BA6C9;
  padding-top: 10px;
  font-weight: bold;
}

#blog {
  text-align: center;
  background: #EEFBFB;
  padding-left: 30px;
  padding-right: 30px;
}

#blog .title {
  padding: 55px 0;
}

#blog .title h2 {
  font-size: 32px;
  padding-bottom: 11px;
}

#blog .title p {
  font-size: 16px;
}

#blog .b-contents {
  padding-bottom: 90px;
}

@media screen and (min-width: 800px) {
  #blog .b-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
  }
}

#blog .b-contents .b-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 800px) {
  #blog .b-contents .b-item {
    width: calc(100%/3);
  }
}

#blog .b-contents .b-item.second, #blog .b-contents .b-item.third {
  padding-top: 50px;
}

@media screen and (min-width: 800px) {
  #blog .b-contents .b-item.second, #blog .b-contents .b-item.third {
    padding-top: 0px;
    padding-left: 30px;
  }
}

#blog .b-contents .b-item img {
  width: 100%;
}

#blog .b-contents .b-item .comment {
  padding: 15px 32px 10px 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  width: 100%;
  text-align: left;
  min-height: 127px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#blog .b-contents .b-item .comment h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5em;
}

#blog .b-contents .b-item .comment p {
  text-align: right;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #333333;
}

.title > p {
  color: #3BA6C9;
  padding-top: 10px;
  font-weight: bold;
}

#contact {
  text-align: center;
  background: transparent -webkit-gradient(linear, left top, right top, from(#05A5FA), color-stop(100%, #63FBD7), to(#67FFD6)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #05A5FA 0%, #63FBD7 100%, #67FFD6 100%) 0% 0% no-repeat padding-box;
  padding-top: 60px;
  padding-bottom: 70px;
  padding-left: 30px;
  padding-right: 30px;
  color: #333333;
}

#contact .c-title {
  color: white;
}

#contact .c-title h2 {
  font-size: 32px;
  padding-bottom: 7px;
}

#contact .c-title p {
  font-size: 16px;
  padding-bottom: 35px;
  line-height: 24px;
}

#contact .c-title p.c-second {
  padding-bottom: 50px;
}

#contact form {
  background-color: white;
  padding: 35px 63px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 908px;
  width: 100%;
  margin: 0 auto;
}

#contact form .c-contents {
  padding-bottom: 25px;
  text-align: left;
  width: 100%;
}

#contact form .c-contents label {
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 39px;
  display: block;
  font-weight: bold;
}

#contact form .c-contents label span {
  font-size: 14px;
  color: white;
  background-color: #0C449B;
  padding: 4px 16px;
  border-radius: 8px;
  margin-left: 23px;
}

#contact form .c-contents input {
  width: 100%;
  max-width: 500px;
  height: 43px;
  background-color: #EEFBFB;
  border-color: transparent;
}

#contact form .c-contents textarea {
  width: 100%;
  height: 179px;
  background-color: #EEFBFB;
  border-color: transparent;
}

#contact form button {
  font-size: 14px;
  margin-top: 30px;
}

#faq {
  text-align: center;
}

#faq .title {
  padding-top: 55px;
  padding-bottom: 32px;
}

#faq .title h2 {
  font-size: 32px;
  padding-bottom: 11px;
}

#faq .title p {
  font-size: 16px;
}

#faq .faq-cont {
  padding-bottom: 86px;
  padding-left: 30px;
  padding-right: 30px;
}

#faq .faq-item {
  font-size: 14px;
  font-weight: bold;
  list-style: none;
  max-width: 907px;
  margin: 0 auto;
}

#faq .faq-item > a {
  background-color: white;
  color: #333333;
  text-decoration: none;
  display: block;
  border: 1px solid #E5E5E5;
  padding-top: 20px;
  padding-bottom: 20px;
}

#faq .faq-item .detail {
  text-align: left;
  border: 1px solid #E5E5E5;
  background-color: #F2F2F2;
  padding-left: 35px;
  padding-top: 17px;
  padding-bottom: 30px;
  line-height: 2em;
  display: none;
}

#faq .faq-item .detail.first {
  display: block;
}

footer {
  text-align: center;
  background-color: #F8F8F8;
}

footer > h2 {
  font-size: 24px;
  padding-top: 45px;
  padding-bottom: 20px;
}

footer nav {
  padding-bottom: 50px;
}

footer nav ul li {
  display: inline-block;
  list-style: none;
}

footer nav ul li.list-second {
  padding-left: 30px;
}

footer nav ul li a {
  display: block;
  text-decoration: none;
  color: black;
}

footer > p {
  font-size: 14px;
  padding-bottom: 50px;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #333333;
}

.title > p {
  color: #3BA6C9;
  padding-top: 10px;
  font-weight: bold;
}

header {
  background-color: white;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  color: #333333;
}

header .inner {
  max-width: 1022px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 28px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .inner .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .inner .logo h1 {
  font-size: 24px;
  padding-left: 15px;
}

header .inner .menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  background-color: white;
}

header .inner .menu.-active {
  display: block;
}

@media screen and (min-width: 950px) {
  header .inner .menu {
    display: block;
    position: static;
    width: initial;
    background-color: transparent;
  }
}

header .inner .menu li {
  padding: 45px 30px;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
}

@media screen and (min-width: 950px) {
  header .inner .menu li {
    display: inline-block;
    padding: 0;
    border: none;
  }
}

header .inner .menu li:nth-child(n+1) {
  margin: 0;
}

@media screen and (min-width: 950px) {
  header .inner .menu li:nth-child(n+1) {
    margin-left: 45px;
  }
}

header .inner .menu li a {
  font-size: 16px;
  display: block;
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

header .inner .inquiry-btn {
  display: none;
}

@media screen and (min-width: 950px) {
  header .inner .inquiry-btn {
    display: block;
  }
  header .inner .inquiry-btn > a {
    border-radius: 7px;
    padding: 7px 36px;
    font-size: 14px;
    color: white;
    background: transparent -webkit-gradient(linear, left top, right top, from(#FA41CC), to(#6020B0)) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(90deg, #FA41CC 0%, #6020B0 100%) 0% 0% no-repeat padding-box;
    text-decoration: none;
  }
}

header .inner button {
  width: 52px;
  height: 30px;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  font: inherit;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 950px) {
  header .inner button {
    display: none;
  }
}

header .inner button.-active span {
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header .inner button.-active span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .inner button.-active span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .inner button.-active span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .inner button span {
  display: block;
  background-color: #333333;
  height: 3px;
  width: 100%;
  position: absolute;
}

header .inner button span:first-child {
  top: 0;
}

header .inner button span:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}

header .inner button span:last-child {
  bottom: 0;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #333333;
}

.title > p {
  color: #3BA6C9;
  padding-top: 10px;
  font-weight: bold;
}

#feature {
  text-align: center;
  color: #333333;
}

#feature .f-inner {
  margin: 0 auto;
  max-width: 1022px;
  width: 100%;
  padding: 100px 30px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#feature .f-inner .title h2 {
  font-size: 32px;
  padding-bottom: 10px;
}

#feature .f-inner .title p {
  font-size: 16px;
  padding-bottom: 57px;
}

#feature .f-inner .contents .sub-title h3 {
  font-size: 28px;
  padding-bottom: 50px;
}

@media screen and (min-width: 800px) {
  #feature .f-inner .contents .sub-title .contents-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 85px;
  }
  #feature .f-inner .contents .sub-title .contents-item.second {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding-bottom: 136px;
  }
  #feature .f-inner .contents .sub-title .contents-item.third {
    padding-bottom: 154px;
  }
}

#feature .f-inner .contents .sub-title .contents-item .discription {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (min-width: 800px) {
  #feature .f-inner .contents .sub-title .contents-item .discription {
    text-align: left;
  }
}

#feature .f-inner .contents .sub-title .contents-item .discription h4 {
  font-size: 24px;
  padding-bottom: 35px;
  line-height: 2em;
}

#feature .f-inner .contents .sub-title .contents-item .discription p {
  font-size: 16px;
  line-height: 26px;
  font-weight: bold;
}

#price {
  text-align: center;
  background: #EEFBFB;
}

#price .p-inner {
  margin: 0 auto;
  max-width: 1022px;
  width: 100%;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#price .p-inner .title {
  padding-top: 55px;
  padding-bottom: 70px;
}

#price .p-inner .title h2 {
  font-size: 32px;
}

#price .p-inner .title p {
  font-size: 16px;
}

#price .p-inner table {
  margin: 0 auto;
  background: white;
  font-size: 16px;
  border: 1px solid #E5E5E5;
  text-align: left;
  max-width: 926px;
  width: 100%;
  margin-bottom: 35px;
}

#price .p-inner table td {
  border: 1px solid #E5E5E5;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 19px;
  width: 30%;
}

#price .p-inner table td.right {
  padding-left: 30px;
  width: 70%;
}

#price .detail {
  font-size: 16px;
  padding-bottom: 65px;
  font-weight: bold;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #333333;
}

.title > p {
  color: #3BA6C9;
  padding-top: 10px;
  font-weight: bold;
}

#top {
  padding-top: 150px;
  padding-bottom: 113px;
  color: #333333;
}

#top .t-inner {
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

@media screen and (min-width: 670px) {
  #top .t-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    max-width: 1022px;
    width: 100%;
    margin: 0 auto;
  }
}

#top .t-inner h2 {
  font-size: 32px;
  padding-bottom: 45px;
  line-height: 46px;
}

#top .t-inner p {
  font-size: 16px;
  padding-bottom: 45px;
  line-height: 24px;
}

#top .t-inner .top-btn {
  text-align: center;
  display: inline-block;
}

#top .t-inner .top-btn a {
  display: block;
  border-radius: 7px;
  padding: 9px 36px;
  font-size: 14px;
  line-height: 20px;
  color: white;
  background: transparent -webkit-gradient(linear, left top, right top, from(#FA41CC), to(#6020B0)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #FA41CC 0%, #6020B0 100%) 0% 0% no-repeat padding-box;
  text-decoration: none;
}

#top .t-inner .top-image {
  margin-top: 50px;
}

@media screen and (min-width: 670px) {
  #top .t-inner .top-image {
    margin-top: 0px;
  }
}

#top .t-inner .top-image img {
  width: 100%;
}

#top .t-inner .bgc-img {
  position: absolute;
  top: -50px;
  right: 0px;
  z-index: -100;
}

#work {
  overflow: hidden;
  padding-left: 30px;
  padding-right: 30px;
}

#work .w-title {
  text-align: center;
  padding-bottom: 68px;
  padding-top: 55px;
}

#work .w-title h2 {
  font-size: 32px;
  padding-bottom: 11px;
}

#work .w-title p {
  font-size: 16px;
  color: #3BA6C9;
}

.swiper-container {
  overflow: hidden;
  width: 100%;
}

.swiper-container .swiper-wrapper {
  padding-bottom: 90px;
}

.swiper-container .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  overflow: hidden;
}

.swiper-container .swiper-wrapper .swiper-slide .w-text {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #DDDDDD;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 19px;
  overflow: hidden;
  font-weight: bold;
}

.swiper-container .swiper-wrapper .swiper-slide .w-text .ww-title {
  font-size: 16px;
  padding-bottom: 30px;
}

.swiper-container .swiper-wrapper .swiper-slide .w-text .w-discription {
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 21px;
}

.swiper-container .swiper-wrapper .swiper-slide .image img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  vertical-align: bottom;
  overflow: hidden;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #333333;
}

.title > p {
  color: #3BA6C9;
  padding-top: 10px;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */